* {
    margin:0;
    padding: 0;
}

body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(30px, auto);
    grid-template-columns: 100%;
    height:100vh;
    background: #3e0707;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-family: 'Oswald', sans-serif;
}

 .holder{
    margin: auto; 
    display: grid;
}

.feel {
    display: grid;
    grid-gap: 5px;
}

.headline {
    font-size: 4rem;
}

label {
    font-size: 1.7rem;
    
}

.zip {
    grid-template-columns: 48% 48%;
}

button, textarea, input {
    font-size: 1.4rem;
}

button {
    margin-top: 10px;
}

.entry-item {
    font-size: 1.5rem;
}

.title{
    font-size: 1.7rem;
} 

